
<% form_for :user_openid, :url => user_user_openids_url(@user), :html => {:class => 'uniForm' } do |f| %>
  <%= error_messages_for :user_openid %>

  <fieldset class="inlineLabels">
    <legend>Add Openid To Your Account</legend>

    <div class="ctrlHolder">
        <label>OpenID:</label>
        <%= text_field_tag :openid_url, {}, :class => "textInput openidUrl" %>
    </div>
    
    <div class="buttons">
      <button type="submit" class="positive">Add</button>
    </div>
	
  </fieldset>
<% end %>

<%= link_to 'Back', edit_user_url(@user) %>
