<p>
  Current user is <%= debug current_user %>
</p>

<% if logged_in? %>
  <%= link_to('Log out',  logout_url) %>
  <%= link_to('Settings', edit_user_url(current_user)) %>
<% else %>
  <%= link_to('Log in',   login_url) %>
  <%= link_to('Sign up',  signup_url) %>
<% end %>