
<%= error_messages_for :user %>
<% form_tag url_for(reset_password_path), :class => "uniForm" do %>
  <fieldset class="inlineLabels">
    <legend>Choose a New Password</legend>
    <%= hidden_field_tag :activation_code, @user.activation_code %>
  
    <div class="ctrlHolder">
        <label for="password">Password:</label>
        <%= password_field_tag :password, {}, :tabindex => 2, :class => "textInput" %>
    </div>
	
    <div class="ctrlHolder">
        <label for="confirm_password">Confirm Password:</label>
        <%= password_field_tag :password_confirmation, {}, :tabindex => 2, :class => "textInput" %>
    </div>
	
    <div>
      <button id="up-butt" type="submit" tabindex="3">Reset Password</button>
    </div>
	
  </fieldset>
<% end %>