
<% form_tag mail_reset_code_path, :class => "uniForm" do %>
  <fieldset class="inlineLabels">
    <legend>Reset Your Password</legend>
  
    <div class="ctrlHolder">
        <label for="email">What is the email address used to create your account?</label>
        <%= text_field_tag :email, {}, :tabindex => 1, :class => "textInput" %>
    </div>
	
    <div>
      <button id="up-butt" type="submit" tabindex="2">Send Reset Code</button>
    </div>
  </fieldset>
<% end %>