<div class="entry entry-1">
  <div class="entrytitle">
    <h2><%= link_to "Here is how you authenticate", "#" %></h2>
    <h3>March 5th, 2008</h3>
  </div>
  <div class="entrybody">
    <p>this is a paragraph...it has some text</p>
    <p>Take some more information. This is nice and simple</p>
  </div>
</div>
