<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Restful_authentication...Take 3</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag :defaults %>
</head>
<body>


<div class="header">

	<div id="menu">
		<ul>
	      <%= yield :menu %>
	    </ul>
	</div>

</div>

<div class="main">
	<h1>Administration</h1>
	  
    <div id="search">Search
      <form action="" method="get">
        <fieldset>
          <input id="s" type="text" value="" name="s" />
        </fieldset>
      </form>
    </div>
	
	<div>	
         <%= yield %>
	</div>
	
</div>

<div class="sidebar">

</div>

<div class="footer">

</div>
   
</body>